@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark-blue: rgb(17, 45, 78);
  --mid-blue: rgb(63, 114, 175);
  --light-blue: rgb(219, 226, 239);
  --cream: rgb(252, 248, 236);
  --green: rgb(76, 175, 80);
}

body {
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 120px 1fr;
  grid-template-areas: "sidebar title" "sidebar content";
  margin: 10px 10px;
  height: calc(100vh - (10px + 10px));
  font-family: "Grandstander", Arial, Helvetica, sans-serif;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 100px 1fr;
  background-color: var(--dark-blue);
  color: var(--cream);
  overflow: auto;
  border-radius: 30px 1px 1px 30px;
  padding: 20px 0 0 15px;
}

#content {
  grid-area: content;
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.257);
  border-bottom-right-radius: 30px;
  background-color: var(--cream);
}

.page-title {
  display: flex;
  grid-area: title;
  background-color: whitesmoke;
  padding: 30px;
  color: var(--dark-blue);
  justify-content: space-between;
  border-top-right-radius: 30px;
  box-shadow: inset 10px 1px 20px rgba(0, 0, 0, 0.257);
}

.tab {
  display: flex;
  cursor: pointer;
  padding: 16px;
  list-style-type: none;
  border-radius: 50px 1px 1px 50px;
  align-items: center;
  gap: 20px;
}

.tab:hover:not(.active) {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.active {
  background-color: var(--cream);
  color: var(--dark-blue);
}

.sidebar ul {
  padding: 0;
}

.logo-img {
  content: url("/src/assets/images/ball.png");
  width: 100px;
  height: 100px;
}

.logo {
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: center;
}

.home-icon {
  content: url("/src/assets/images/home-white.png");
  width: 10%;
}

.projects-icon {
  content: url("/src/assets/images/projects-white.png");
  width: 10%;
}

.active .home-icon,
.tab:hover .home-icon {
  content: url("/src/assets/images/home-blue.png");
}

.active .projects-icon,
.tab:hover .projects-icon {
  content: url("/src/assets/images/projects-blue.png");
}

.title-img {
  height: 80px;
}

.dashboard-all-projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(715px - (35px + 40px));
  margin: 30px 30px 0px 30px;
  padding: 25px 25px 20px 25px;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  border: 6px dashed var(--light-blue);
  box-shadow: 0px 10px 10px var(--light-blue);
  background-color: whitesmoke;
  color: var(--dark-blue);
  transition: transform 0.3s ease;
}

.project-box:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 10px 10px var(--dark-blue);
}

.project-img {
  width: 80px;
  height: 80px;
}

.add-project-btn-img {
  width: 100px;
  height: 100px;
}

.add-project-btn {
  border: 0;
  background: none;
  transition: transform 0.3s ease;
}

.add-project-btn:hover {
  transform: scale(1.2);
}

.progress-bar {
  width: 90%;
  height: 20px;
  background-color: #ddd;
  position: relative;
  border-radius: 40px;
  margin: 20px 0;
}

.progress-bar-completed {
  height: 100%;
  background-color: var(--green);
  text-align: center;
  border-radius: 40px;
}

.progress-bar-text {
  position: absolute;
  left: 20%;
  transform: translateY(-100%);
  color: rgb(255, 255, 255);
}

.add-project-modal,
.add-task-modal {
  display: flex;
  flex-direction: column;
  color: var(--dark-blue);
  padding: 10px 30px 20px 30px;
  background-color: var(--light-blue);
  border: 8px dashed whitesmoke;
  z-index: 2;
  position: fixed;
  max-width: 30%;
  min-width: 30%;
  top: 20%;
  left: 45%;
}

.add-project-form-elements {
  display: flex;
  flex-direction: column;
}

.close-btn {
  border-radius: 60px;
  border: none;
  padding: 6px 10px 1px 10px;
  font-size: 30px;
  background-color: rgba(255, 0, 0, 0.246);
  color: grey;
  align-self: flex-end;
}

.close-btn:hover {
  background-color: rgba(255, 0, 0, 0.649);
  color: white;
}

.modal-img {
  height: 130px;
}

.modal-intro {
  display: flex;
}

.modal-text {
  color: grey;
  border: 5px dotted rgb(236, 236, 236);
  border-radius: 10px;
  background-color: rgb(255, 247, 237);
  padding: 10px;
  align-self: center;
}

.add-project-form,
.add-task-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-project-form input[type="text"],
.add-task-form input[type="text"] {
  padding: 10px;
  font-size: 20px;
  border: 3px dotted var(--light-blue);
  border-bottom: 5px solid var(--dark-blue);
}

.add-project-submit-btn,
.add-task-submit-btn {
  font-weight: 600;
  border: 3px dotted rgb(205, 205, 205);
  box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.575);
  color: rgb(227, 227, 227);
  background-color: #3a3a3a5b;
  align-self: center;
  padding: 25px 15px;
  width: min-content;
  border-radius: 50px;
}

.add-project-submit-btn:hover,
.add-task-submit-btn:hover {
  border-color: rgb(203, 239, 185);
  background-color: #72c074cf;
  color: var(--cream);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.843);
  z-index: 1;
}

button,
input[type="file"] {
  cursor: pointer;
}

button,
input[type="file"],
input[type="text"] {
  font-family: "Grandstander", Arial, Helvetica, sans-serif;
}

.project-dashboard {
  display: grid;
  margin: 25px;
  grid-template-columns: minmax(min-content, max-content) minmax(
      min-content,
      max-content
    );
  grid-template-rows: minmax(min-content, max-content) 1fr;
  grid-template-areas: "back-button todo-list" "stats todo-list";
  gap: 30px;
}

.back-button {
  grid-area: back-button;
  font-size: 19px;
  color: var(--mid-blue);
  padding: 7px;
  border-radius: 10px;
  border: 2px solid var(--light-blue);
  box-shadow: 0px 5px 5px rgb(193, 193, 193);
  align-self: flex-start;
}

.back-button:hover {
  color: var(--mid-blue);
  background-color: var(--light-blue);
}

.stats-container {
  grid-area: stats;
  color: var(--mid-blue);
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  border-radius: 10px;
  border: 3px solid var(--light-blue);
  padding: 5px;
  gap: 50px;
  width: min-content;
  height: min-content;
  align-self: center;
  justify-content: center;
  box-shadow: 0px 5px 5px rgb(193, 193, 193);
}

.todo-list-container {
  grid-area: todo-list;
}

.progress-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
  align-items: center;
}

@keyframes progress {
  0% {
    --percentage: 0;
  }
  100% {
    --percentage: var(--value);
  }
}

@property --percentage {
  syntax: "<number>";
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --secondary: rgba(214, 214, 214, 0.567);
  --size: 150px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 2 / 1;
  border-radius: 50% / 100% 100% 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

[role="progressbar"].completed-bar-color {
  --primary: var(--green);
  color: var(--green);
}

[role="progressbar"].in-progress-bar-color {
  --primary: rgb(0, 113, 206);
  color: rgb(0, 113, 206);
}

[role="progressbar"].not-started-bar-color {
  --primary: grey;
  color: grey;
}

[role="progressbar"].overdue-bar-color {
  --primary: rgb(255, 86, 86);
  color: rgb(250, 109, 109);
}

.default-bar-color {
  --primary: black;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(
    from 0.75turn at 50% 100%,
    var(--primary) calc(var(--percentage) * 1% / 2),
    var(--secondary) calc(var(--percentage) * 1% / 2 + 0.9%)
  );
  mask: radial-gradient(at 50% 100%, white 55%, transparent 55.5%);
  -webkit-mask: radial-gradient(at 50% 100%, #0000 60%, #000 75%);
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: attr(data-percentage) "%";
  font-size: calc(var(--size) / 5);
}

.todo-list-container {
  background-color: #ffffff;
  box-shadow: 0px 5px 5px rgb(193, 193, 193);
  display: flex;
  flex-direction: column;
  padding: 10px 25px 5px 25px;
  border-radius: 10px;
  border: 3px solid var(--light-blue);
  align-self: flex-start;
  color: var(--mid-blue);
}

.organize-menu {
  display: flex;
  align-self: flex-end;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  font-size: 18px;
}

.custom-select {
  position: relative;
  width: 180px;
}

.menu-select,
.priority-select {
  width: 100%;
  padding: 10px 30px 10px 15px;
  border: 2px solid var(--light-blue);
  border-radius: 4px;
  font-size: 15px;
  appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path fill="%233f72af" d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 30px;
  cursor: pointer;
  color: var(--mid-blue);
  font-family: "Grandstander", Arial, Helvetica, sans-serif;
}

.menu-select:hover,
.menu-select:focus {
  outline: none;
  background-color: var(--light-blue);
}

.tasks-table-container {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(560px - (45px));
  min-height: calc(560px - (45px));
  max-width: calc(900px - (10px));
  min-width: calc(900px - (10px));
}

.todo-list-item {
  display: flex;
  border-radius: 10px;
  box-shadow: 0px 5px 2px rgb(127, 127, 127);
  margin: 0 10px 10px 10px;
  padding: 10px;
  background-color: #ffffff;
  gap: 15px;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
}

.custom-checkbox {
  flex-basis: 40px;
}

.task-info-container {
  flex-basis: 350px;
  overflow: hidden;
}

.due-date-container {
  flex-basis: 220px;
  align-items: center;
  justify-items: center;
}

.in-progress-radio-container {
  flex-basis: 60px;
  padding-top: 25px;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

.priority-container {
  flex-basis: 110px;
  position: relative;
  width: 180px;
}

.remove-item-btn {
  position: absolute;
  top: -5px;
  right: -5px;
  display: none;
  border-radius: 50px;
  border: none;
  padding: 4px 7px 4px 7px;
  font-size: 18px;
  font-weight: 700;
  background-color: rgba(255, 0, 0, 0.246);
  color: grey;
}

.remove-item-btn:hover {
  background-color: rgba(255, 0, 0, 0.649);
  color: white;
}

.task-title,
.task-description {
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.task-title.expanded,
.task-description.expanded {
  white-space: normal;
  overflow: visible;
  max-width: none;
}

.task-title:hover,
.task-description:hover {
  color: #0084ff;
}

.priority-1 {
  background-color: rgba(213, 255, 215, 0.272);
}

.priority-2 {
  background-color: rgba(254, 216, 102, 0.167);
}

.priority-3 {
  background-color: rgba(255, 167, 167, 0.303);
}

.completed-checked {
  text-decoration: line-through;
  color: #0000005b;
}

.add-task-container {
  display: flex;
  gap: 20px;
  align-items: center;
  margin-bottom: 10px;
  font-weight: 500;
}

.add-task-btn {
  font-size: 30px;
  border-radius: 50px;
  background-color: var(--cream);
  color: var(--green);
  border: 1px solid var(--green);
  padding: 8px 11px 0 11px;
}

.add-task-btn:hover {
  background-color: var(--green);
  color: var(--cream);
}

.custom-checkbox input[type="checkbox"],
.custom-radio-box input[type="radio"] {
  display: none;
}

.custom-checkbox,
.custom-radio-box {
  display: flex;
  align-items: center;
  position: relative;
  align-self: center;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.checkmark,
.checkdot {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  background-color: #ccc;
  border-radius: 20px;
  margin-right: 10px;
}

.checkdot {
  height: 16px;
  width: 16px;
}

input[type="radio"]:hover + .checkdot {
  background-color: rgba(0, 113, 206, 0.5);
}

input[type="checkbox"]:hover + .checkmark {
  background-color: rgba(76, 175, 79, 0.5);
}

input[type="checkbox"]:checked + .checkmark:after,
input[type="radio"]:checked + .checkdot:after {
  display: block;
}

input[type="checkbox"]:checked + .checkmark {
  background-color: var(--green);
}

input[type="radio"]:checked + .checkdot {
  background-color: rgb(0, 113, 206);
}

.checkmark:after,
.checkdot:after {
  content: "";
  position: absolute;
  display: none;
}

.checkmark:after {
  left: 11px;
  top: 6px;
  width: 5px;
  height: 13px;
  border: solid var(--cream);
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

.checkdot:after {
  left: 5px;
  top: 5px;
  width: 6px;
  height: 6px;
  border-radius: 10px;
  background-color: var(--cream);
}

.in-progress-text {
  display: none;
  font-size: 10px;
  color: #666;
  margin-top: 5px;
}

.no-tasks-message {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 600;
  font-size: 25px;
  color: rgb(255, 220, 161);
  background-color: var(--mid-blue);
  border-radius: 10px;
}

.no-tasks-img {
  height: 300px;
}

.home-dashboard {
  display: grid;
  grid-template-areas: "badges badges" "due-soon-table overdue-table" "progress-bars progress-bars";
  grid-template-columns: 1fr 1fr;
  padding: 45px 25px 20px 25px;
  gap: 20px;
  color: var(--mid-blue);
}

.badge-container {
  grid-area: badges;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-self: center;
  padding: 0 10px;
}

.badge-container h4:first-child {
  color: rgb(28, 73, 126);
}

.all-badges {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.badge-img {
  width: 45px;
}

.badge {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 6px;
}

.badge h6 {
  margin: 10px 0;
}

.badge-overlay {
  position: absolute;
  border-radius: 35px;
  background-image: url("/src/assets/images/lock.png");
  background-repeat: no-repeat;
  background-position: top 10px center;
  background-size: 45px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 0.819);
}

.due-soon-list-item,
.overdue-list-item {
  display: flex;
  justify-content: space-between;
  flex-basis: 10px;
  padding: 6px 15px;
  border-bottom: 3px solid var(--cream);
  cursor: pointer;
}

.due-soon-container {
  grid-area: due-soon-table;
}
.overdue-container {
  grid-area: overdue-table;
}

.due-soon-container,
.overdue-container,
.badge-container,
.focus-stats-container {
  border-radius: 5px;
  background-color: whitesmoke;
  border: 3px solid var(--light-blue);
}

.due-soon-table-container,
.overdue-table-container {
  max-height: 150px;
  overflow: auto;
}

.due-soon-container h4,
.overdue-container h4 {
  margin-left: 15px;
  color: rgb(28, 73, 126);
}

.overdue-list-item div:last-child {
  color: rgb(228, 92, 92);
}

.due-soon-list-item div:last-child {
  color: rgb(90, 139, 90);
}

.home-stats-container {
  display: flex;
  gap: 130px;
  justify-content: center;
}

.focus-stats-container {
  grid-area: progress-bars;
  align-items: center;
  justify-self: center;
  display: flex;
  padding: 0 50px;
}

.focus-stats-container h4:first-child {
  color: rgb(28, 73, 126);
  border-right: 1px solid var(--mid-blue);
  font-size: 20px;
}

.home-in-progress-bar,
.home-not-started-bar,
.home-overdue-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 20px;
  flex-basis: 185px;
  color: var(--mid-blue);
}
