@import url("https://fonts.googleapis.com/css2?family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --dark-blue: rgb(17, 45, 78);
  --mid-blue: rgb(63, 114, 175);
  --light-blue: rgb(219, 226, 239);
  --cream: rgb(252, 248, 236);
  --green: rgb(76, 175, 80);
}

body {
  display: grid;
  grid-template-columns: 400px 1fr;
  grid-template-rows: 135px 1fr;
  grid-template-areas: "sidebar title" "sidebar content";
  margin: 10px 10px;
  height: calc(100vh - (10px + 10px));
  font-family: "Grandstander", Arial, Helvetica, sans-serif;
}

.sidebar {
  grid-area: sidebar;
  display: grid;
  grid-template-rows: 100px 1fr;
  background-color: var(--dark-blue);
  color: var(--cream);
  overflow: auto;
  border-radius: 30px 1px 1px 30px;
  padding: 20px 0 0 15px;
}

#content {
  grid-area: content;
  box-shadow: inset 0 10px 20px rgba(0, 0, 0, 0.257);
  border-bottom-right-radius: 30px;
  background-color: var(--cream);
}

.page-title {
  display: flex;
  grid-area: title;
  background-color: whitesmoke;
  padding: 30px;
  color: var(--dark-blue);
  justify-content: space-between;
  border-top-right-radius: 30px;
  box-shadow: inset 10px 1px 20px rgba(0, 0, 0, 0.257);
}

.tab {
  display: flex;
  cursor: pointer;
  padding: 16px;
  list-style-type: none;
  border-radius: 50px 1px 1px 50px;
  align-items: center;
  gap: 20px;
}

.tab:hover:not(.active) {
  background-color: var(--light-blue);
  color: var(--dark-blue);
}

.active {
  background-color: var(--cream);
  color: var(--dark-blue);
}

.sidebar ul {
  padding: 0;
}

.logo-img {
  content: url("/src/assets/images/ball.png");
  width: 100px;
  height: 100px;
}

.logo {
  display: flex;
  padding: 20px;
  gap: 20px;
  align-items: center;
}

.home-icon {
  content: url("/src/assets/images/home-white.png");
  width: 10%;
}

.projects-icon {
  content: url("/src/assets/images/projects-white.png");
  width: 10%;
}

.medal-icon {
  content: url("/src/assets/images/medal-white.png");
  width: 10%;
}

.active .home-icon,
.tab:hover .home-icon {
  content: url("/src/assets/images/home-blue.png");
}

.active .projects-icon,
.tab:hover .projects-icon {
  content: url("/src/assets/images/projects-blue.png");
}

.active .medal-icon,
.tab:hover .medal-icon {
  content: url("/src/assets/images/medal-blue.png");
}

.title-img {
  height: 100px;
}

.dashboard-all-projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 50px;
  overflow-x: hidden;
  overflow-y: auto;
  max-height: calc(700px - (35px + 40px));
  margin: 30px 30px 0px 30px;
  padding: 25px 25px 20px 25px;
}

.project-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 20px;
  border: 6px dashed var(--light-blue);
  box-shadow: 0px 10px 10px var(--light-blue);
  background-color: whitesmoke;
  color: var(--dark-blue);
  transition: transform 0.3s ease;
}

.project-box:hover {
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0px 10px 10px var(--dark-blue);
}

.project-img {
  width: 80px;
  height: 80px;
}

.add-project-btn-img {
  width: 100px;
  height: 100px;
}

.add-project-btn {
  border: 0;
  background: none;
  transition: transform 0.3s ease;
}

.add-project-btn:hover {
  transform: scale(1.2);
}

.progress-bar {
  width: 90%;
  height: 20px;
  background-color: #ddd;
  position: relative;
  border-radius: 40px;
  margin: 20px 0;
}

.progress-bar-completed {
  height: 100%;
  background-color: var(--green);
  text-align: center;
  border-radius: 40px;
}

.progress-bar-text {
  position: absolute;
  left: 20%;
  transform: translateY(-100%);
  color: rgb(255, 255, 255);
}

.add-project-module {
  display: flex;
  flex-direction: column;
  color: var(--dark-blue);
  padding: 10px 30px 20px 30px;
  background-color: var(--light-blue);
  border: 8px dashed whitesmoke;
  z-index: 2;
  position: fixed;
  max-width: 30%;
  min-width: 30%;
  top: 20%;
  left: 45%;
}

.add-project-form-elements {
  display: flex;
  flex-direction: column;
}

.close-btn {
  border-radius: 60px;
  font-size: larger;
  border: none;
  padding: 6px 10px 1px 10px;
  font-size: 30px;
  background-color: rgba(255, 0, 0, 0.246);
  color: grey;
  align-self: flex-end;
}

.close-btn:hover {
  background-color: rgba(255, 0, 0, 0.649);
  color: white;
}

.module-img {
  height: 130px;
}

.module-intro {
  display: flex;
}

.module-text {
  color: grey;
  border: 5px dotted rgb(236, 236, 236);
  border-radius: 10px;
  background-color: rgb(255, 247, 237);
  padding: 10px;
  align-self: center;
}

.add-project-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.add-project-form input[type="text"] {
  padding: 10px;
  font-size: 20px;
  border: 3px dotted var(--light-blue);
  border-bottom: 5px solid var(--dark-blue);
}

.add-project-submit-btn {
  font-weight: 600;
  border: 3px dotted rgb(205, 205, 205);
  box-shadow: inset 0 10px 15px rgba(0, 0, 0, 0.575);
  color: rgb(227, 227, 227);
  background-color: #3a3a3a5b;
  align-self: center;
  padding: 25px 15px;
  width: min-content;
  border-radius: 50px;
}

.add-project-submit-btn:hover {
  border-color: rgb(203, 239, 185);
  background-color: #72c074cf;
  color: var(--cream);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.843);
  z-index: 1;
}

button,
input[type="file"] {
  cursor: pointer;
}

button,
input[type="file"],
input[type="text"] {
  font-family: "Grandstander", Arial, Helvetica, sans-serif;
}

.project-dashboard {
  display: grid;
  grid-template-areas: "back-button back-button" "badges stats" "todo-list stats";
}

.back-button {
  grid-area: back-button;
}

.badge-container {
  grid-area: badges;
}

.stats-container {
  grid-area: stats;
}

.todo-list-container {
  grid-area: todo-list;
}
